html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        // Styles
        link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
        link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css")
        link(href='/css/styles.css' rel="stylesheet" type="text/css")

        //JS
        script(src='/js/jquery-3.1.1.min.js')
        script(src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
        script(src='/js/front.js')
        title
            | Portfel
    body
        .container
            .row
                .col-md-3
                    h4 
                        | Текущие ограничения:
                    b
                        | Цена
                        br
                        | Число исп.
                        br
                        | Вероятность
                    br
                    hr
                    form(method='GET', action='/dataconfig')
                        input(type='text', placeholder='Цена')
                        input(type='text', placeholder='Число исп.')
                        input(type='text', placeholder='Вероятность')
                        br
                        button Сохранить
                .col-md-9
                    table.table
                        thead.thead-inverse
                            tr
                                th #
                                th Сектор
                                th Название
                                th Цена
                                th Вероятность
                                th Числ. исп.
                            tbody
                            tr
                                -for(var i=0; i<sort.length; i++)
                                    td
                                        | #{i}
                                    td
                                        | #{sort[i].sector}
                                    td    
                                        | #{sort[i].ticker}
                                    td
                                        | #{sort[i].price}
                                    td
                                        | #{sort[i].effect}
                                    td
                                        | #{sort[i].count}
                                    tr
                    button Добавить в индекс
                .col-md-12
                    hr
                    - for(var i=0; i<sectors.length; i++)
                        details
                            summary
                                | #{sectors[i].sector} (#{sectors[i].table.length})
                            table.table
                                thead.thead-inverse
                                tr
                                    th #
                                    th Название
                                    th Цена
                                    th Вероятность
                                    th Числ. исп.
                                tbody(id='sTable')
                                tr
                                    -for(var j=0; j<sectors[i].table.length; j++)
                                        td
                                            | #{j}
                                        td
                                            | #{sectors[i].table[j].ticker}
                                        td
                                            | #{sectors[i].table[j].price}
                                        td
                                            | #{sectors[i].table[j].effect}
                                        td
                                            | #{sectors[i].table[j].count}
                                        tr
                    hr
                .col-md-3
                    h4
                        | Тут история индекса
                .col-md-9
                    h4
                        | Тут будет график