html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        // Styles
        link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
        link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css")
        link(href='/css/styles.css' rel="stylesheet" type="text/css")

        //JS
        script(src='/js/jquery-3.1.1.min.js')
        script(src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
        script(src='/js/front.js')
        script(src='https://code.jquery.com/jquery-3.1.1.min.js')
        script(src='https://code.highcharts.com/stock/highstock.js')
        script(src='https://code.highcharts.com/stock/modules/exporting.js')
        script(src='/js/graph.js')
        title
            | Portfel
    body
        .container
            .row
                .col-md-3
                    h4 
                        | Текущие ограничения: 
                    b
                        | Цена: #{config.price}
                        br
                        | Число исп.: #{config.count}
                        br
                        | Вероятность: #{config.effect}
                    br
                    hr
                    form(method='POST', action='/dataconfig')
                        input(type='text', name='price', placeholder='Цена')
                        input(type='text', name='count', placeholder='Число исп.')
                        input(type='text', name='effect', placeholder='Вероятность')
                        br
                        button Сохранить
                .col-md-9
                    form(method='POST', action='/addInIndex')
                        table.table
                            thead.thead-inverse
                                tr
                                    th #
                                    th Сектор
                                    th Название
                                    th Цена
                                    th Вероятность
                                    th Числ. исп.
                                tbody
                                tr
                                    -for(var i=0; i<sort.length; i++)
                                        td
                                            input(type='checkbox', name='tickers',value='#{sort[i].ticker};#{sort[i].price}')
                                        td
                                            | #{sort[i].sector}
                                        td    
                                            | #{sort[i].ticker}
                                        td
                                            | #{sort[i].price}
                                        td
                                            | #{sort[i].effect}
                                        td
                                            | #{sort[i].count}
                                        tr
                        button Добавить в индекс
                .col-md-12
                    hr
                    - for(var i=0; i<sectors.length; i++)
                        details
                            summary
                                | #{sectors[i].sector} (#{sectors[i].table.length})
                            table.table
                                thead.thead-inverse
                                tr
                                    th #
                                    th Название
                                    th Цена
                                    th Вероятность
                                    th Числ. исп.
                                tbody(id='sTable')
                                tr
                                    -for(var j=0; j<sectors[i].table.length; j++)
                                        td
                                            | #{j}
                                        td
                                            | #{sectors[i].table[j].ticker}
                                        td
                                            | #{sectors[i].table[j].price}
                                        td
                                            | #{sectors[i].table[j].effect}
                                        td
                                            | #{sectors[i].table[j].count}
                                        tr
                    hr
                .col-md-3
                    h4
                        | Тут будут настройки и история индекса
                .col-md-9
                    h4
                    #graph(style='height:400px; min-width:310px')