html
    head
        title
            | Настройки
    body
        .container
            .row
                .col-md-9
                    h3
                        | Последнее обновление: #{lastUpdate}
                    h3
                        | Число доступных акций: #{count}, с ошибками #{bad}
                    h3 
                        | Всего доступно из списка: #{procent}%
                    h3
                        | Обновлено #{updated}%
                    a(href='/update')
                        button Обновить
                    a(href='/select')
                        button Отобрать акции
                    //a(href='/show')
                        //button Показать портфель
