html
    head
        title
            | Настройки
    body
        .container
            .row
                .col-md-9
                    h3
                        | Последнее обновление: #{lastUpdate}
                    h3
                        | Число доступных акций: корректно #{count}, с ошибками #{bad}
                    h3 
                        | Всего доступно из списка: #{procent}%
                    h3
                        | Обновлено #{updated}%
                    a(href='/update')
                        button Обновить
                    br
                    hr
                    h3
                        | Отобрано в секторах: #{selectorCount}
                    br
                    form(method='POST', action='/select')
                        | по закрытию
                        input(type="checkbox", name="closer")
                        br
                        br
                        | #one
                        input(type="checkbox", name="one") 
                        | #two
                        input(type="checkbox", name="two") 
                        | #three
                        input(type="checkbox", name="three") 
                        | #four
                        input(type="checkbox", name="four") 
                        br
                        button Отобрать акции
                    br
                    hr
                    a(href='/show')
                        button Показать портфель
